In [4]:
import pandas as pd
import numpy as np

In [1]:
pip install scikit-learn==1.2.2

Collecting scikit-learn==1.2.2Note: you may need to restart the kernel to use updated packages.

  Downloading scikit_learn-1.2.2-cp39-cp39-win_amd64.whl (8.4 MB)
     ---------------------------------------- 8.4/8.4 MB 1.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\meghana\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn==1.2.2) (1.21.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\meghana\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn==1.2.2) (1.7.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\meghana\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn==1.2.2) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\meghana\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn==1.2.2) (3.2.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-1.2.2

In [2]:
import sklearn

print(sklearn.__version__)

1.2.2

In [5]:
df=pd.read_csv(r"C:/Users/Meghana/Downloads/diabetes_prediction_dataset.csv")

In [6]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [7]:
x1=df.drop(['gender', 'age','hypertension','heart_disease','smoking_history'], axis=1)

In [8]:
x1.head()

     bmi  HbA1c_level  blood_glucose_level  diabetes
0  25.19          6.6                  140         0
1  27.32          6.6                   80         0
2  27.32          5.7                  158         0
3  23.45          5.0                  155         0
4  20.14          4.8                  155         0

In [9]:
x=x1.iloc[:,:-1]
y=x1.iloc[:,-1]

In [10]:
x.head()

     bmi  HbA1c_level  blood_glucose_level
0  25.19          6.6                  140
1  27.32          6.6                   80
2  27.32          5.7                  158
3  23.45          5.0                  155
4  20.14          4.8                  155

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: diabetes, dtype: int64

In [12]:

from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [14]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
y_pred=classifier.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.9598333333333333

In [17]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier18.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()